<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#0d2144">
<title>Superchips &mdash; Прошивка</title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">
<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>
 
<body>  

<div class="wrapper">

<!--HEADER-->
<header class="site-header">
	<!--***-->
    <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
    <!--***-->
	<nav class="site-nav">
		<ul>
			<li><a href="#">Магазин</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Вопросы и ответы</a></li>
			<li><a href="#">Рекомендации</a></li>
			<li><a href="#">Автоспорт</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<!--***-->
	<a href="https://speedline.com.ua/" class="nav__link link_search"></a>
	<i class="search-form__close"></i>
    <!--***-->
    <i class="mob-nav"></i>
    <!--***-->
</header>
<!--/HEADER-->

<!--SEARCH-->
<div class="search-form">
	<input type="text" class="search-form__input" placeholder="Поиск по сайту">
    <input type="submit" class="search-form__button" value="">
</div>
<!--/SEARCH-->
	
<!--MIDDLE-->
<div class="site-content">
	<!--CONTENT-->
    <div class="content content_left catalog-item">
		<!--catalog main-->
		<div class="catalog-item__main">
			<div class="catalog-item__gallery">
				<div class="gallery">
					<ul id="pikame">
						<li><img src="_tmp/gal-prw-1.jpg" ref="_tmp/gal-img-1.jpg" alt=""/></li>
						<li><img src="_tmp/gal-prw-2.jpg" ref="_tmp/gal-img-2.jpg" alt=""/></li>
						<li><img src="_tmp/gal-prw-3.jpg" ref="_tmp/gal-img-1.jpg" alt=""/></li>
						<li><img src="_tmp/gal-prw-4.jpg" ref="_tmp/gal-img-2.jpg" alt=""/></li>
					</ul>
				</div>
			</div>
			<div class="catalog-item__info">
				<!--breadcrumbs-->
				<div class="breadcrumbs">
					<a href="#">Главная</a>
					<a href="#">Магазин</a>
					<a href="#">Чип-тюнинг</a>
				</div>
				<!--/breadcrumbs-->
				<h1 class="title title_1">Volkswagen Golf Mk7 2.0 TSI GTI Performance (230 PS)</h1>
				<div class="catalog-item__features">
					<table class="features__table">
						<tr>
							<th>Год выпуска</th>
							<td>04/2013 по настоящее время</td>
						</tr>
						<tr>
							<th>Тип двигателя</th>
							<td>Бензиновый с турбонадувом</td>
						</tr>
						<tr>
							<th>Объем двигателя</th>
							<td>1984 см3</td>
						</tr>
						<tr>
							<th>Код двигателя</th>
							<td>СННА</td>
						</tr>
						<tr>
							<th>Тип топлива</th>
							<td>АИ 95</td>
						</tr>
						<tr>
							<th>Экологический стандарт</th>
							<td>Евро 6</td>
						</tr>
						<tr>
							<th>Чип тюнинг</th>
							<td>АИ 95</td>
						</tr>
						<tr>
							<th>Дополнительные модификации</th>
							<td>Есть</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!--/catalog main-->
		<!--tabs-->
		<div class="content__tabs">
			<ul class="tabs__list">
				<li class="tab-item"><a href="#tab-1">Stage 1</a></li>
				<li class="tab-item"><a href="#tab-2">Stage 2</a></li>
				<li class="tab-item"><a href="#tab-3">Stage 3</a></li>
				<li class="tab-item"><a href="#tab-4">Stage 7</a></li>
				<li class="tab-item"><a href="#tab-5">Gearbox remap</a></li>
				<li class="tab-item"><a href="#tab-6">Сравнение (1)</a></li>
			</ul>
			<div class="tab-content" id="tab-1">
				<!--description-->
				<div class="catalog-item__description">
					<p>Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет оценить значение модели развития. Разнообразный и богатый опыт новая модель организационной определения и уточнения модели развития.</p>
					<p>Товарищи! рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.</p>

					<table class="chars__table">
						<tr>
							<th>Характеристики двигателя</th>
							<th>Оригинал</th>
							<th>Stage 1</th>
						</tr>
						<tr>
							<td>Мощность (л.с.)</td>
							<td>200 л.с.</td>
							<td>6,7 сек (– 0,3)*</td>
						</tr>
						<tr>
							<td>Крутящий момент (Нм)</td>
							<td>280 Нм</td>
							<td>7,9 сек (–1)*</td>
						</tr>
					</table>
					<p class="note">* Динамические характеристики приблизительные и могут отличаться от указанных значений в зависимости от состояния дорожного полотна, типа и качества топлива, состояния покрышек и дригих факторов</p>
				</div>
				<!--/description-->
				<!--price-->
				<div class="catalog-item__price">
					<div class="price__main">
						<div class="price__item">
							<span class="price__label">Стоимость прошивки</span>
							<span class="price__value"><i class="price__valuta">₴</i>250.00</span>
							<span class="price__value price_old">₴ 320.00</span>
						</div>
					</div>
					<div class="price__extra">
						<span class="price__sub-title title">Возможные дополнительные модификации:</span>
						<ul class="price__list">
							<li class="price__item">
								<span class="price__label">Интеркулер (можно с ионкой для красоты)</span>
								<span class="price__value"><i class="price__valuta">$</i>350.00</span>
							</li>
							<li class="price__item">
								<span class="price__label">Оригинального турбокомпрессора на Borwagner K04</span>
								<span class="price__value"><i class="price__valuta">₴</i>120.00</span>
							</li>
							<li class="price__item">
								<span class="price__label">Топливных форсунок</span>
								<span class="price__value"><i class="price__valuta">₴</i>430.00</span>
							</li>
						</ul>
					</div>
				</div>
				<!--/price-->
				<!--buttons-->
				<div class="catalog-item__buttons">
					<div class="buttons__cell">
						<a href="#" class="button button_graph">График <i class="mob-hide">замера</i> мощности</a>
					</div>
					<div class="buttons__cell">
						<a href="#" class="button blue button_question"><i class="mob-hide">Задать</i> вопрос менеджеру</a>
					</div>
					<div class="buttons__cell">
						<a href="#" class="button blue button_order">Заказать прошивку</a>
					</div>
				</div>
				<!--/buttons-->
			</div>
			<div class="tab-content" id="tab-2">
				<p>2</p>
			</div>
			<div class="tab-content" id="tab-3">
				<p>3</p>
			</div>
			<div class="tab-content" id="tab-4">
				<p>4</p>
			</div>
			<div class="tab-content" id="tab-5">
				<p>5</p>
			</div>
			<div class="tab-content" id="tab-6">
				<p>6</p>
			</div>
		</div>
		<!--/tabs-->
		<!--text-->
		<div class="content__text">
			<figure class="content__img left">
				<img src="_tmp/img-2.jpg" alt="">
			</figure>
			<p>Superchips продолжает поставлять ЭБУ с нашей прошивкой для процветающей команды Gaz Shocks, что участвует в кубке BMW Compact. Это серия гонок, которая проходит под эгидой автоклуба 750, создана для гонок на заднеприводных BMW E36 Compact.</p>
			<p>Это естественное продолжение текущих научно-исследовательских и опытно-конструкторских работ Superchips , с помощью которых мы постоянно внедряем новые приложения для дорожных моделей BMW, на бензиновых, турбированных бензиновых и турбодизельных.</p>
			<p>Это серия гонок, которая проходит под эгидой автоклуба 750, создана для гонок на заднеприводных BMW E36 Compact.</p>
		</div>
		<!--/text-->
		<!--comments-->
		<div class="comments">
			<h2 class="title title_2 title_border">Комментарии</h2>
			<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0&appId=245549028798949&autoLogAppEvents=1"></script>
			<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="15"></div>
		</div>
		<!--/comments-->
	</div>
	<!--/CONTENT-->
	<!--SIDEBAR-->
	<aside class="sidebar">
		<!--banner-->
		<div class="side__banner">
			<a href="#"><img src="_tmp/banner-1.jpg" alt=""></a>
		</div>
		<!--/banner-->
		<!--car selector-->
			<div class="car-selector">
				<span class="car-selector__title title">Укажите ваше авто</span>
				<p>Чип-тюнинг от Superchips повысит мощность Вашего автомобиля и даст Вам больше  удовольствия от вождения. 40 лет опыта в настройке бензиновых и дизельных двигателей позволяют нам утверждать, что Superchips изменит ваши впечатления от авто в лучшую сторону.</p>
				<div class="car-selector__form">
					<select class="select">
						<option>Марка</option>
						<option>Chevrolet</option>
					</select>
					<select class="select">
						<option>Модель</option>
						<option>Chevrolet</option>
					</select>
					<select class="select">
						<option>Тип двигателя</option>
						<option>Chevrolet</option>
					</select>
					<select class="select">
						<option>Двигатель</option>
						<option>Chevrolet</option>
					</select>
					<input type="submit" class="button white" value="Выбрать чип-тюнинг">
				</div>
			</div>
			<!--/car selector-->
		<!--banner-->
		<div class="side__banner">
			<a href="#"><img src="_tmp/banner-2.jpg" alt=""></a>
		</div>
		<!--/banner-->
	</aside>
	<!--/SIDEBAR-->
</div>
<!--/MIDDLE-->
	
<!--FOOTER-->
<footer class="site-footer">
	<!--***-->
    <div class="footer__about">
		<span class="site-name">Superchips Украина</span>
		<p>Официальный дилер продукции и программного обеспечения Superchips в Украине с 2015 года</p>
		<p>&copy; 2019 Superchips Украина</p>
    </div>
    <!--***-->
    <i class="footer__mob-nav"></i>
    <!--***-->
    <div class="footer-nav">
    	<ul class="footer-nav__list">
			<li><a href="#">Магазин </a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Вопросы и ответы</a></li>
			<li><a href="#">Рекомендации</a></li>
			<li><a href="#">Автоспорт</a></li>
			<li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <!--***-->
    <div class="footer__social">
    	<a href="#" class="soc__link"><img src="img/fb-ico.svg" alt=""></a>
        <a href="#" class="soc__link"><img src="img/ig-ico.svg" alt=""></a>
        <a href="#" class="soc__link"><img src="img/yt-ico.svg" alt=""></a>
    </div>
    <!--***-->
    <div class="footer__address">
    	<p>Проспект Степана Бандеры 20А, Киев, Украина.</p>
		<p>inbox@superchips.com.ua</p>
		<p>+380983278156 (viber, telegram)</p>
    </div>
    <!--***-->
</footer>
<!--/FOOTER-->

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.pikachoose.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/functions.js"></script>

</body>
</html>