 <!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#0d2144">
<title>Superchips &mdash; Главная</title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">
<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>
 
<body>  

<div class="wrapper">

<!--HEADER-->
<header class="site-header">
	<!--***-->
    <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
    <!--***-->
	<nav class="site-nav">
		<ul>
			<li><a href="#">Магазин</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Вопросы и ответы</a></li>
			<li><a href="#">Рекомендации</a></li>
			<li><a href="#">Автоспорт</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<!--***-->
	<span class="header__phone">+380983278156</span>
	<!--***-->
	<a href="https://speedline.com.ua/" class="nav__link link_search"></a>
    <!--***-->
    <i class="mob-nav"></i>
    <!--***-->
</header>
<!--/HEADER-->

<!--SEARCH-->
<div class="search-form">
	<input type="text" class="search-form__input" placeholder="Поиск по сайту">
    <input type="submit" class="search-form__button button blue" value="Найти">
</div>
<!--/SEARCH-->

<!--HOME SLIDE-->
<div class="home-slide"><div class="home-slide__inner">
	<span class="home-slide__title">Superchips – специалист в чип-тюнинге автомобилей с 1977 года</span>
	<p>С нами больше драйва!</p>
</div></div>
<!--/HOME SLIDE-->
	
<!--MIDDLE-->
<div class="site-content home-content">
	<!--home top-->
	<div class="home-content__top">
		<!--main-->
		<div class="home-content__main">
			<!--slideshow-->
			<div class="content__slideshow">
				<div class="slideshow owl-carousel">
					<!--***-->
					 <div class="slide">
						<div class="slide__content">
							<i class="content-label slide__label">Новинка</i>
							<span class="slide__title title">Прошивка для MINI</span>
							<p>Разработано для Mini Cooper, Mini Cooper S и Mini One</p>
							<a class="button white" href="#">Выбрать чип-тюнинг</a>
						</div>
						<a href="#"><img src="_tmp/slide-1.jpg" alt=""></a>
					</div>
					<!--***-->
					<div class="slide">
						<div class="slide__content">
							<i class="content-label slide__label">Новинка</i>
							<span class="slide__title title">BMW M2 Competition </span>
							<p>Разработано для Mini Cooper, Mini Cooper S и Mini One</p>
							<a class="button white" href="#">Выбрать чип-тюнинг</a>
						</div>
						<a href="#"><img src="_tmp/slide-2.jpg" alt=""></a>
					</div>
					<!--***-->
				</div>
			</div>
			<!--/slideshow-->
			<!--advantages-->
			<div class="advantages">
				<!--***-->
				<div class="advantage">
					<i class="advantage__ico"><img src="img/flags-ico.svg" alt=""></i>
					<figure class="advantage__img"><img src="img/advantage-1.jpg" alt=""></figure>
					<div class="advantage__content">
						<span class="advantage__title title">История в автоспорте</span>
						<span class="advantage__sub-title title">Наша история в автоспорте подчеркивает нашу техническую экспертизу </span>
						<p>Мы являемся официальным партнером по техническому тюнингу Volkswagen Racing UK и MINI Cooper в Scottish MINI Challenge, которые участвуют в заездах с прошивкой Superchips. Porsche Club Великобритании выбрал нас в качестве технического консультанта для чемпионата Michelin Porsche Club.</p>
					</div>
				</div>
				<!--***-->
				<div class="advantage">
					<i class="advantage__ico"><img src="img/award-ico.svg" alt=""></i>
					<figure class="advantage__img"><img src="img/advantage-2.jpg" alt=""></figure>
					<div class="advantage__content">
						<span class="advantage__title title">Лидер чип-тюнинга в Великобритании</span>
						<span class="advantage__sub-title title">Мы пионеры в чип-тюнинге для водителей-энтузиастов </span>
						<p>40 лет работы позволяют нам утверждать, что никто не инвестировал больше средств и усилий в исследования и разработку прошивок, и никто не имеет такой же технический опыт, как у нас. Ведущие автопроизводители доверяют Superchips, как лидеру на рынке, признавая наш проверенный опыт в области чип-тюнинга. </p>
					</div>
				</div>
				<!--***-->
			</div>
			<!--/advantages-->
		</div>
		<!--/main-->
		<!--side-->
		<div class="home-content__side">
			<!--car selector-->
			<div class="car-selector">
				<span class="car-selector__title title">Укажите ваше авто</span>
				<p>Чип-тюнинг от Superchips повысит мощность Вашего автомобиля и даст Вам больше  удовольствия от вождения. 40 лет опыта в настройке бензиновых и дизельных двигателей позволяют нам утверждать, что Superchips изменит ваши впечатления от авто в лучшую сторону.</p>
				<div class="car-selector__form">
					<select class="select">
						<option>Марка</option>
						<option>Chevrolet</option>
					</select>
					<select class="select">
						<option>Модель</option>
						<option>Chevrolet</option>
					</select>
					<select class="select">
						<option>Тип двигателя</option>
						<option>Chevrolet</option>
					</select>
					<select class="select">
						<option>Двигатель</option>
						<option>Chevrolet</option>
					</select>
					<input type="submit" class="button white" value="Выбрать чип-тюнинг">
				</div>
			</div>
			<!--/car selector-->
			<!--warranty-->
			<div class="warranty">
				<figure class="warranty__ico"><img src="img/warranty-ico.svg" alt=""></figure>
				<p>Мы предлагаем <strong>пожизненную гарантию</strong> на продукцию и <strong>возврат денег</strong> в течении <strong>14 дней</strong>, если Вам не понравится прошивка.</p>
			</div>
			<!--/warranty-->
		</div>
		<!--/side-->
	</div>
	<!--/home top-->
	
	<!--catalog previews-->
	<div class="catalog-previews">
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-1.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<i class="content-label">Новинка</i>
				<span class="catalog-prw__title title"><a href="#">BMW X20i (184hp) B48B20 EURO6</a></span>
				<span class="catalog-prw__date">23 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-2.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<i class="content-label">Новинка</i>
				<span class="catalog-prw__title title"><a href="#">MKII Kuga 1.5 EcoBoost (120PS) EU6</a></span>
				<span class="catalog-prw__date">23 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-3.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<i class="content-label">Новинка</i>
				<span class="catalog-prw__title title"><a href="#">Citroen Peugeot 2.0 BlueHDI (120PS) EURO6</a></span>
				<span class="catalog-prw__date">23 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-1.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<i class="content-label">Новинка</i>
				<span class="catalog-prw__title title"><a href="#">BMW X20i (184hp) B48B20 EURO6</a></span>
				<span class="catalog-prw__date">20 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-2.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<i class="content-label">Новинка</i>
				<span class="catalog-prw__title title"><a href="#">MKII Kuga 1.5 EcoBoost (120PS) EU6</a></span>
				<span class="catalog-prw__date">19 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-3.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<i class="content-label">Новинка</i>
				<span class="catalog-prw__title title"><a href="#">Citroen Peugeot 2.0 BlueHDI (120PS) EURO6</a></span>
				<span class="catalog-prw__date">18 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-1.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<span class="catalog-prw__title title"><a href="#">BMW X20i (184hp) B48B20 EURO6</a></span>
				<span class="catalog-prw__date">20 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-2.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<span class="catalog-prw__title title"><a href="#">MKII Kuga 1.5 EcoBoost (120PS) EU6</a></span>
				<span class="catalog-prw__date">19 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-3.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<span class="catalog-prw__title title"><a href="#">Citroen Peugeot 2.0 BlueHDI (120PS) EURO6</a></span>
				<span class="catalog-prw__date">18 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-1.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<span class="catalog-prw__title title"><a href="#">BMW X20i (184hp) B48B20 EURO6</a></span>
				<span class="catalog-prw__date">20 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-prw">
			<figure class="catalog-prw__img"><a href="#"><img src="_tmp/ctlg-prw-2.jpg" alt=""></a></figure>
			<div class="catalog-prw__content">
				<span class="catalog-prw__title title"><a href="#">MKII Kuga 1.5 EcoBoost (120PS) EU6</a></span>
				<span class="catalog-prw__date">19 мая 2019</span>
			</div>
		</div>
		<!--***-->
		<div class="catalog-previews__total"><div class="total__inner">
			<span class="catalog-previews__title title">Всего 4327 прошивок</span>
			<p>в нашем <a href="#">каталоге</a></p>
		</div></div>
		<!--***-->
	</div>
	<!--/catalog previews-->
	
	<!--home bottom-->
	<div class="home-content__bottom">
		<div class="articles articles_4">
			<!--***-->
			<div class="article-prw">
				<figure class="article-prw__photo"><a href="#"><img src="_tmp/article-prw-1.jpg" alt=""></a><i class="content-label">Статьи</i></figure>
				<div class="article-prw__content">
					<span class="article-prw__title title"><a href="#">Superchips доверяют уникальные авто, такие как этот шикарный Porsche 956</a></span>
					<p>Ежедневная работа Superchips включает как исследование и разработку новых продуктов, так и постоянную поддержку существующих клиентов.</p>
				</div>
			</div>
			<!--***-->
			<div class="article-prw">
				<figure class="article-prw__photo"><a href="#"><img src="_tmp/article-prw-2.jpg" alt=""></a><i class="content-label">Советы</i></figure>
				<div class="article-prw__content">
					<span class="article-prw__title title"><a href="#">Какой кредит выгоднее взять на покупку автомобиля в 2019 году?</a></span>
					<p>Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах.</p>
				</div>
			</div>
			<!--***-->
			<div class="article-prw">
				<figure class="article-prw__photo"><a href="#"><img src="_tmp/article-prw-3.jpg" alt=""></a><i class="content-label">Полезное</i></figure>
				<div class="article-prw__content">
					<span class="article-prw__title title"><a href="#">Еще больше мощи горячим немецким хэтчбекам VW Polo GTi и VW Polo TSI</a></span>
					<p>Недавнее пополнение прошивок от Superchips, был разработано, чтобы дать владельцам последних версий модели Volkswagen Polo почувствовать значительное увеличение производительности.</p>
				</div>
			</div>
			<!--***-->
			<div class="recommendations"><div class="recommendations__inner">
				<figure class="recommendations__ico"><img src="img/comment-ico.svg" alt=""></figure>
				<span class="recommendations__title title">Рекомендации и отзывы</span>
				<span class="recommendations__sub-title title">Почему стоит выбрать чип-тюнинг Superchips</span>
				<p>Чтобы убедится, что наше обещание большего удовольствия от авто с Superchips не пустые слова, прочитайте некоторые из отзывов о нашей работе от специалистов в автоиндустрии и мотоспорте.</p>
				<a href="#" class="button white">Читать рекомендации</a>
			</div></div>
			<!--***-->
		</div>
	</div>
	<!--/home bottom-->
</div>
<!--/MIDDLE-->
	
<!--FOOTER-->
<footer class="site-footer">
	<!--***-->
    <div class="footer__about">
		<span class="site-name">Superchips Украина</span>
		<p>Официальный дилер продукции и программного обеспечения Superchips в Украине с 2015 года</p>
		<p>&copy; 2019 Superchips Украина</p>
    </div>
    <!--***-->
    <i class="footer__mob-nav"></i>
    <!--***-->
    <div class="footer-nav">
    	<ul class="footer-nav__list">
			<li><a href="#">Магазин </a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Вопросы и ответы</a></li>
			<li><a href="#">Рекомендации</a></li>
			<li><a href="#">Автоспорт</a></li>
			<li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <!--***-->
    <div class="footer__social">
    	<a href="#" class="soc__link"><img src="img/fb-ico.svg" alt=""></a>
        <a href="#" class="soc__link"><img src="img/ig-ico.svg" alt=""></a>
        <a href="#" class="soc__link"><img src="img/yt-ico.svg" alt=""></a>
    </div>
    <!--***-->
    <div class="footer__address">
    	<p>Проспект Степана Бандеры 20А, Киев, Украина.</p>
		<p>inbox@superchips.com.ua</p>
		<p>+380983278156 (viber, telegram)</p>
    </div>
    <!--***-->
</footer>
<!--/FOOTER-->

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.pikachoose.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/functions.js"></script>

</body>
</html>