<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#0d2144">
<title>Superchips &mdash; Статья</title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">
<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>
 
<body>  

<div class="wrapper">

<!--HEADER-->
<header class="site-header">
	<!--***-->
    <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
    <!--***-->
	<nav class="site-nav">
		<ul>
			<li><a href="#">Магазин</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Вопросы и ответы</a></li>
			<li><a href="#">Рекомендации</a></li>
			<li><a href="#">Автоспорт</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<!--***-->
	<a href="https://speedline.com.ua/" class="nav__link link_search"></a>
	<i class="search-form__close"></i>
    <!--***-->
    <i class="mob-nav"></i>
    <!--***-->
</header>
<!--/HEADER-->

<!--SEARCH-->
<div class="search-form">
	<input type="text" class="search-form__input" placeholder="Поиск по сайту">
    <input type="submit" class="search-form__button" value="">
</div>
<!--/SEARCH-->
	
<!--MIDDLE-->
<div class="site-content">
	<!--CONTENT-->
    <div class="content">
		<!--breadcrumbs-->
		<div class="breadcrumbs">
			<a href="#">Главная</a>
			<a href="#">Магазин</a>
			
		</div>
		<!--/breadcrumbs-->
		<a href="#" class="back-shopping">Продолжить покупки</a>
		<h1 class="title title_1">Оформление заказа</h1>
		
		<!--order-->
		<div class="order">
			<!--order steps-->
			<div class="order-steps">
				<!--order step 1-->
				<div class="order-step">
					<div class="order-step__header">
						<span class="order-step__number">1</span>
						<span class="order-step__title">Личная информация</span>
					</div>
					<div class="order-step__content">
						<div class="tabs tabs_authorization">
							<ul class="tabs__list">
								<li class="tab-item"><a href="#tab-1">Я новый покупатель</a></li>
								<li class="tab-item"><a href="#tab-2">Я постоянный клиент</a></li>
							</ul>
							<div class="tab-content" id="tab-1">
								<div class="form form_small">
									<div class="form__row">
										<input type="text" class="form__input" placeholder="Имя и фамилия">
									</div>                                        
									<div class="form__row">
										<input type="text" class="form__input" placeholder="Город">
									</div>
									<div class="form__row">
										<input type="text" class="form__input" placeholder="Мобильный телефон">
										<span class="form__note">На этот номер будут приходить sms с номером декларации</span>
									</div>
									<div class="form__row">
										<input type="text" class="form__input" placeholder="Email">
										<span class="form__note">Если вы хотите следить за статусом выполнения заказа</span>
									</div>
								</div>
							</div>
							<div class="tab-content" id="tab-2">
								<div class="authorization__form form_small">
									<div class="form__row">   
										<input type="text" class="form__input" placeholder="Мобильный телефон или Email">
									</div>
									<div class="form__row"> 
										<input type="password" class="form__input" placeholder="Пароль">
									</div>
									<div class="form__buttons">
										<a href="#" class="forget-link">Забыли пароль?</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/order step 1-->
				<!--order step 2-->
				<div class="order-step">
					<div class="order-step__header">
						<span class="order-step__number">2</span>
						<span class="order-step__title">Способ оплаты</span>
					</div>
					<div class="order-step__content">
						<div class="form form_small">
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_1" name="radio_pay" />
								<label for="radio_pay_1" class="radio__label">Наличными при получении</label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_2" name="radio_pay" />
								<label for="radio_pay_2" class="radio__label">Картой Visa/Mastercard</label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_3" name="radio_pay" />
								<label for="radio_pay_3" class="radio__label">Через Masterpass</label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_4" name="radio_pay" />
								<label for="radio_pay_4" class="radio__label">Google Pay</label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_5" name="radio_pay" />
								<label for="radio_pay_5" class="radio__label">Безналичный расчет</label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_6" name="radio_pay" />
								<label for="radio_pay_6" class="radio__label">В кредит (от 0,01%)</label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_7" name="radio_pay" />
								<label for="radio_pay_7" class="radio__label">Рассрочка 3 платежа Monobank <span class="form__note">для владельцев кредитных карт Monobank</span></label>
								
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_8" name="radio_pay" />
								<label for="radio_pay_8" class="radio__label">Рассрочка 6 платежей ПриватБанк <span class="form__note">для владельцев кредитных карт Приватбанка</span></label>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio" id="radio_pay_9" name="radio_pay" />
								<label for="radio_pay_9" class="radio__label">Рассрочка 4 платежа Aльфа Банк<span class="form__note">для владельцев кредитных карт Альфа банка</span></label>
							</div>
						</div>
					</div>
				</div>
				<!--/order step 2-->
				<!--order step 3-->
				<div class="order-step">
					<div class="order-step__header">
						<span class="order-step__number">3</span>
						<span class="order-step__title">Способ доставки</span>
						<a href="#" class="change-city__link">Киев</a>
					</div>
					<div class="order-step__content">
						<div class="form form_small">
							<div class="form__row">
								<input type="radio" class="form__radio radio_delivery" id="radio_delivery_1" name="radio_delivery" value="selector_delivery_1" />
								<label for="radio_delivery_1" class="radio__label">Самовывоз</label>
								<div class="selector_delivery_1 sub-form hidden">
									<select class="form__select">
										<option>Выбирете магазин</option>
									</select>
								</div>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio radio_delivery" id="radio_delivery_2" name="radio_delivery" value="selector_delivery_2" />
								<label for="radio_delivery_2" class="radio__label">Доставка по Киеву</label>
								<div class="selector_delivery_2 sub-form hidden">
									<select class="form__select">
										<option>Выбирете магазин</option>
									</select>
								</div>
							</div>
							<div class="form__row">
								<input type="radio" class="form__radio radio_delivery" id="radio_delivery_3" name="radio_delivery" value="selector_delivery_3" />
								<label for="radio_delivery_3" class="radio__label">Самовывоз из Новой почты</label>
								<div class="selector_delivery_3 sub-form hidden">
									<select class="form__select">
										<option>Выбирете магазин</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/order step 3-->
			</div>
			<!--/order steps-->
			<!--order cart-->
			<div class="order-cart">
				<div class="order-cart__header">
					<span class="order-cart__title">Ваш заказ</span>
				</div>
				<div class="order-cart__content">
					<table class="order-table">
						<tr>
							<th class="order-th__item" colspan="2">Товар</th>
							<th class="order-th__price">Цена</th>
							<th class="order-th__quantity">Кол-во.</th>
							<th class="order-th__sum">Стоимость</th>
							<th class="order-th__stock">Наличие</th>
							<th class="order-th__remove"></th>
						</tr>
						<tr>
							<td class="order-td__photo">
								<a href="#"><img src="_tmp/cart-item-2.jpg" alt=""></a>
							</td>
							<td class="order-td__name">
								<a href="#">Bridgestone Alenza 001 185/60 R14 82R</a>
								<span class="cart-table__note">Артикул 28555</span>
							</td>
						 	<td class="order-td__price">1 420 <span class="unit">грн.</span></td>
                            <td class="order-td_quantity">
                                <div class="quantity-form math">
                                    <form>
                                        <a class="quantity-form__minus">-</a>
                                        <input class="quantity-form__input" type="text" value="1" />
                                        <a class="quantity-form__plus">+</a>
                                    </form>
									<span class="unit">шт.</span>
                                </div>
                            </td>
							<td class="order-td__sum">1 420 <span class="unit">грн.</span></td>
							<td class="order-td__stock">
								<span class="stock_yes">Есть</span>
							</td>
							<td class="order-td__remove">
								<a href="#" class="remove-button"></a>
							</td>
						</tr>
						<tr>
							<td class="order-td__photo">
								<a href="#"><img src="_tmp/cart-item-1.jpg" alt=""></a>
							</td>
							<td class="order-td__name">
								<a href="#">NOKIAN NORDMAN RS2 185/60 R14 82R</a>
								<span class="cart-table__note">Артикул 24789</span>
							</td>
							<td class="order-td__price">1 420 <span class="unit">грн.</span></td>
                            <td class="order-td_quantity">
                                <div class="quantity-form math">
                                    <form>
                                        <a class="quantity-form__minus">-</a>
                                        <input class="quantity-form__input" type="text" value="1" />
                                        <a class="quantity-form__plus">+</a>
                                    </form>
									<span class="unit">шт.</span>
                                </div>
                            </td>
							<td class="order-td__sum">1 420 <span class="unit">грн.</span></td>
							<td class="order-td__stock">
								<span class="stock_few">2 шт.</span>
							</td>
							<td class="order-td__remove">
								<a href="#" class="remove-button"></a>
							</td>
						</tr>
						<tr>
							<td class="order-td__photo">
								<a href="#"><img src="_tmp/cart-item-3.jpg" alt=""></a>
							</td>
							<td class="order-td__name">
								<a href="#">Автоакустика Morel Tempo Ultra 602</a>
								<span class="cart-table__note">Артикул 21627</span>
							</td>
							<td class="order-td__price">355 <span class="unit">грн.</span></td>
                            <td class="order-td_quantity">
                                <div class="quantity-form math">
                                    <form>
                                        <a class="quantity-form__minus">-</a>
                                        <input class="quantity-form__input" type="text" value="1" />
                                        <a class="quantity-form__plus">+</a>
                                    </form>
									<span class="unit">шт.</span>
                                </div>
                            </td>
							<td class="order-td__sum">1 420 <span class="unit">грн.</span></td>
							<td class="order-td__stock">
								<span class="stock_no">Нет</span>
							</td>
							<td class="order-td__remove">
								<a href="#" class="remove-button"></a>
							</td>
						</tr>
						<tr>
							<th class="order-th__item" colspan="2">Дополнительные услуги</th>
							<th class="order-th__price">Цена</th>
							<th class="order-th__quantity">Кол-во.</th>
							<th class="order-th__sum" colspan="3">Стоимость</th>
						</tr>
						<tr>
							<td class="order-td__name" colspan="2">
								<a href="#">Шиномонтаж</a>
								<span class="cart-table__note">Краткое описание дополнительной услуги</span>
							</td>
							<td class="order-td__price">1 420 <span class="unit">грн.</span></td>
                            <td class="order-td_quantity">
                                <div class="quantity-form math">
                                    <form>
                                        <a class="quantity-form__minus">-</a>
                                        <input class="quantity-form__input" type="text" value="1" />
                                        <a class="quantity-form__plus">+</a>
                                    </form>
									<span class="unit">шт.</span>
                                </div>
                            </td>
							<td class="order-td__sum">1 420 <span class="unit">грн.</span></td>
							<td class="order-td__check" colspan="2">
								<input type="checkbox" class="form__checkbox" id="check_service_1" /><label for="check_service_1" class="checkbox__label"></label>
							</td>
						</tr>
						<tr>
							<td class="order-td__name" colspan="2">
								<a href="#">Сезонное хранение</a>
								<span class="cart-table__note">Краткое описание дополнительной услуги</span>
							</td>
							<td class="order-td__price">1 420 <span class="unit">грн.</span></td>
                            <td class="order-td_quantity">
                                <div class="quantity-form math">
                                    <form>
                                        <a class="quantity-form__minus">-</a>
                                        <input class="quantity-form__input" type="text" value="1" />
                                        <a class="quantity-form__plus">+</a>
                                    </form>
									<span class="unit">мес</span>
                                </div>
                            </td>
							<td class="order-td__sum">1 420 <span class="unit">грн.</span></td>
							<td class="order-td__check" colspan="2">
								<input type="checkbox" class="form__checkbox" id="check_service_2" /><label for="check_service_2" class="checkbox__label"></label>
							</td>
						</tr>
						<tr>
							<td class="order-td__total-name" colspan="4">Итоговая стоимость</td>
							<td class="order-td__total-sum" colspan="3">15 420 <span class="unit">грн.</span></td>
						</tr>
					</table>
					<div class="order-buttons">
						<input type="checkbox" class="form__checkbox" id="check_conditions" />
						<label for="check_conditions" class="checkbox__label">Согласен с условиями передачи данных</label>
						<input type="submit" class="button button_confirm" value="Оформить заказ">
					</div>
				</div>
			</div>
			<!--/order cart-->
		</div>
		<!--/order-->
	</div>
	<!--/CONTENT-->
</div>
<!--/MIDDLE-->
	
<!--FOOTER-->
<footer class="site-footer">
	<!--***-->
    <div class="footer__about">
		<span class="site-name">Superchips Украина</span>
		<p>Официальный дилер продукции и программного обеспечения Superchips в Украине с 2015 года</p>
		<p>&copy; 2019 Superchips Украина</p>
    </div>
    <!--***-->
    <i class="footer__mob-nav"></i>
    <!--***-->
    <div class="footer-nav">
    	<ul class="footer-nav__list">
			<li><a href="#">Магазин </a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Вопросы и ответы</a></li>
			<li><a href="#">Рекомендации</a></li>
			<li><a href="#">Автоспорт</a></li>
			<li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <!--***-->
    <div class="footer__social">
    	<a href="#" class="soc__link"><img src="img/fb-ico.svg" alt=""></a>
        <a href="#" class="soc__link"><img src="img/ig-ico.svg" alt=""></a>
        <a href="#" class="soc__link"><img src="img/yt-ico.svg" alt=""></a>
    </div>
    <!--***-->
    <div class="footer__address">
    	<p>Проспект Степана Бандеры 20А, Киев, Украина.</p>
		<p>inbox@superchips.com.ua</p>
		<p>+380983278156 (viber, telegram)</p>
    </div>
    <!--***-->
</footer>
<!--/FOOTER-->

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.pikachoose.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/functions.js"></script>

</body>
</html>