<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#03727e">
<title>ASVA &mdash; Кредит</title>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="wrapper">

<!--HEADER-->
<header class="site-header">
	<!--***-->
    <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
    <!--***-->
   	<h1 class="page-title">Оформлення заявки на кредит</h1>
    <!--***-->
</header>
<!--/HEADER-->

<!--MIDDLE-->
<div class="site-content">
    <!--***-->
    <div class="calculator calculator_credit">
		<div class="calculator__form">
        	<div class="form__row"><div class="row__cols">
            	<div class="form__col col_2">
                	<span class="form__label">Повна вартість обраних товарів:</span>
                    <div class="form__cell cell_credit-price">
                    	<input type="text" class="form__input" placeholder="0">
                        <span class="credit-price__unit">грн.</span>
                        <button class="form__button">Ок</button>
					</div>
				</div>
                <div class="form__col col_2">
                	<span class="form__label">Строк кредиту:</span>
                    <div class="form__cell cell_slider">
                    	<input type="text" id="input-terms" class="slider__input" readonly>
                        <i class="slider__unit">місяців</i>
                        <div id="slider-terms"></div>
                        <div class="slider__ruler ruler_items-12">
                        	<span class="ruler__item">3</span>
                            <span class="ruler__item ruler__item_6">6</span>
                            <span class="ruler__item ruler__item_9">9</span>
                            <span class="ruler__item">12</span>
                            <span class="ruler__item">15</span>
                            <span class="ruler__item">18</span>
                            <span class="ruler__item">21</span>
                            <span class="ruler__item">24</span>
                            <span class="ruler__item">27</span>
                            <span class="ruler__item ruler__item_30">30</span>
                            <span class="ruler__item ruler__item_33">33</span>
                            <span class="ruler__item">36</span>
                        </div>
					</div>
				</div>
        	</div></div>
    	</div>          
	</div> 
    <!--***-->
	<div class="credits-banner">
		<a href="#" class="credit-banner"><img src="img/banner.jpg" alt=""></a>
	</div>
	<!--***-->
    <div class="credits-result">
        	<table class="table table_credits">

                <tbody>
                    <tr>
                        <td colspan="5" class="credit-td__title">
                            <strong>Розстрочка на 3, 6, 10 платежів</strong> від Укрсиббанк
                        </td>
                    </tr>
                    <tr>
                        <td class="credit-td__logo"><img src="_tmp/bank-1.jpg" alt=""></td>
                        <td class="credit-td__conditions">
                            <ul>
                                <li><strong>Перший внесок — від 10 %</strong></li>
                                <li><strong>Щомісячна комісія перші 5 місяців — 0%, з 6-го місяця — 2,99%, — від 10 % </strong></li>
                                <li>Можливе оформлення страховки (1% в місяць від суми кредиту)</li>
                            </ul>
                        </td>
                        <td class="credit-td__term">
                            <span class="credit__term">12 <span class="unit">міс.</span></span><br>Срок кредита
                        </td>
                        <td class="credit-td__price"><span class="credit__price">2 822<span class="unit">міс.</span></span><br>Щомісячний платіж</td>
                        <td class="credit-td__button"><a href="#" class="button button_small">подати заявку</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <div class="credit-info">
                                <div class="credit-info__item">
                                    <a class="credit-info__link">Детальніше</a>
                                    <div class="credit-info__text">
                                        <ol>
                                            <li>Виберіть суму початкового внеску (сума власних коштів) та термін кредиту.</li>
                                            <li>Уважно ознайомтесь з умовами кредитних продуктів фінансових установ партнерів.</li>
                                            <li>Якщо Вам підходять умови кредитного продукту натисніть "ВИБРАТИ" та "ПОДАТИ ЗАЯВКУ НА КРЕДИТ".</li>
                                        </ol>                                        
                                    </div>
                                </div>
                                <div class="credit-info__item">
                                    <a class="credit-info__link">Як оформити</a>
                                    <div class="credit-info__text">
                                        <ol>
                                            <li>Виберіть суму початкового внеску (сума власних коштів) та термін кредиту.</li>
                                            <li>Уважно ознайомтесь з умовами кредитних продуктів фінансових установ партнерів.</li>
                                            <li>Якщо Вам підходять умови кредитного продукту натисніть "ВИБРАТИ" та "ПОДАТИ ЗАЯВКУ НА КРЕДИТ".</li>
                                            <li>Для подачи заявки на кредит необхідно заповнити дані короткої анкети та дати ЗГОДУ НА ОБРОБКУ ВАШИХ ПЕРСОНАЛЬНИХ ДАНИХ. Після чого натиснути "ПРОДОВЖИТИ".</li>
                                            <li>Ваші дані будут передані в фінансову установу. Через деякий час з Вами зв'яжеться представник фінансовой установи для уточнення Ваших даних.</li>
                                            <li>У разі позитивного рішення Вам буде необхідно відвідати найближче відділення фінансововй установи партнера для підписання необхідних документів.</li>
                                            <li>Після підписання документів гроші будут перераховані на рахунок магазину і Вам буде необхідно погодити час доставки.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--**-->
                    <tr>
                        <td colspan="5" class="credit-td__title">
                            <strong>Розстрочка на 3, 6, 10, 12 платежів</strong> від Глобус банк
                        </td>
                    </tr>
                    <tr>
                        <td class="credit-td__logo"><img src="_tmp/bank-2.jpg" alt=""></td>
                        <td class="credit-td__conditions">
                            <ul>
                                <li><strong>Перший внесок — від 10 %</strong></li>
                                <li><strong>Щомісячна комісія перші 5 місяців — 0%, з 6-го місяця — 2,99%</strong></li>
                                <li>Можливе оформлення страховки (1% в місяць від суми кредиту)</li>
                            </ul>
                        </td>
                        <td class="credit-td__term">
                            <span class="credit__term">3 <span class="unit">плт.</span></span><br>мін 4 плт.<br>макс 24 плт.
                        </td>
                        <td class="credit-td__price"><span class="credit__price">2 793<span class="coins">.47</span></span><br>грн./міс.*</td>
                        <td class="credit-td__button"><a href="#" class="button button_small">подати заявку</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <div class="credit-info">
                                <div class="credit-info__item">
                                    <a class="credit-info__link">Детальніше</a>
                                    <div class="credit-info__text">
                                        <ol>
                                            <li>Виберіть суму початкового внеску (сума власних коштів) та термін кредиту.</li>
                                            <li>Уважно ознайомтесь з умовами кредитних продуктів фінансових установ партнерів.</li>
                                            <li>Якщо Вам підходять умови кредитного продукту натисніть "ВИБРАТИ" та "ПОДАТИ ЗАЯВКУ НА КРЕДИТ".</li>
                                        </ol>
                                    </div>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="credit-td__title">
                            <strong>Розстрочка на 3, 6, 10, 12 платежів</strong> від Глобус банк
                        </td>
                    </tr>
                    <tr>
                        <td class="credit-td__logo"><img src="_tmp/bank-2.jpg" alt=""></td>
                        <td class="credit-td__conditions">
                            <ul>
                                <li><strong>Перший внесок — від 10 %</strong></li>
                                <li><strong>Щомісячна комісія перші 5 місяців — 0%, з 6-го місяця — 2,99%</strong></li>
                                <li>Можливе оформлення страховки (1% в місяць від суми кредиту)</li>
                            </ul>
                        </td>
                        <td class="credit-td__term">
                            <span class="credit__term">3 <span class="unit">плт.</span></span><br>мін 4 плт.<br>макс 24 плт.
                        </td>
                        <td class="credit-td__price"><span class="credit__price">2 793<span class="coins">.47</span></span><br>грн./міс.*</td>
                        <td class="credit-td__button"><a href="#" class="button button_small">подати заявку</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <div class="credit-info">
                                <div class="credit-info__item">
                                    <a class="credit-info__link">Детальніше</a>
                                    <div class="credit-info__text">
                                        <ol>
                                            <li>Виберіть суму початкового внеску (сума власних коштів) та термін кредиту.</li>
                                            <li>Уважно ознайомтесь з умовами кредитних продуктів фінансових установ партнерів.</li>
                                            <li>Якщо Вам підходять умови кредитного продукту натисніть "ВИБРАТИ" та "ПОДАТИ ЗАЯВКУ НА КРЕДИТ".</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="credit-info__item">
                                    <a class="credit-info__link">Як оформити</a>
                                    <div class="credit-info__text">
                                        <ol>
                                            <li>Виберіть суму початкового внеску (сума власних коштів) та термін кредиту.</li>
                                            <li>Уважно ознайомтесь з умовами кредитних продуктів фінансових установ партнерів.</li>
                                            <li>Якщо Вам підходять умови кредитного продукту натисніть "ВИБРАТИ" та "ПОДАТИ ЗАЯВКУ НА КРЕДИТ".</li>
                                            <li>Для подачи заявки на кредит необхідно заповнити дані короткої анкети та дати ЗГОДУ НА ОБРОБКУ ВАШИХ ПЕРСОНАЛЬНИХ ДАНИХ. Після чого натиснути "ПРОДОВЖИТИ".</li>
                                            <li>Ваші дані будут передані в фінансову установу. Через деякий час з Вами зв'яжеться представник фінансовой установи для уточнення Ваших даних.</li>
                                            <li>У разі позитивного рішення Вам буде необхідно відвідати найближче відділення фінансововй установи партнера для підписання необхідних документів.</li>
                                            <li>Після підписання документів гроші будут перераховані на рахунок магазину і Вам буде необхідно погодити час доставки.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--**-->
                </tbody>
			</table>
            <p class="note-star">* <i>Розмiр платежу є орiентовним. Остаточний розмiр платежу уточнюйте у фiнансової установи, яка видаватиме кредит.</i></p>
	</div>                                    
	<!--***-->
</div>
<!--/MIDDLE-->

<!--FOOTER-->
<footer class="site-footer">
	<!--***-->
	<div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
    <!--***-->
    <div class="footer-nav">
    	<ul class="footer-nav__list">
        	<li><span class="footer-nav__title">Новости</span>
            	<ul>
                	<li><a href="#">Все новости</a></li>
                	<li><a href="#">Электромобили</a></li>
                	<li><a href="#">Автоспорт</a></li>
                	<li><a href="#">Тюнинг</a></li>
                </ul>
            </li>
            <li><span class="footer-nav__title">Топливо</span>
            	<ul>
                	<li><a href="#">Цены на топливо</a></li>
                	<li><a href="#">Топливный калькулятор</a></li>
                	<li><a href="#">Карта электрозаправок</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--***-->
	<div class="footer__copyrights">
    	<!--**-->
		<p>© 2020 ACBA. Всі права захищені</p>
        <!--**-->
		<p class="note">Компанія АСВА є офіційним дилером і вчиняє як оптові, так і роздрібні поставки автошин на території України з 1996 року.</p>
        <!--**-->
	</div>
    <!--***-->
</footer>
<!--/FOOTER-->

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/remodal.min.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/functions.js"></script>

</body>
</html>